.coursePage {
    padding: 1vw;
    .editorBlock__openEditor, .rdw-editor-toolbar{
        display: none;
    }
}

.coursePage__title {
    font-size: 2vw;
}

.coursePage__description {
    margin-top: 1vw;
}