@media (max-width: 480px) {
    .createExercisePage {
        .input_input {
            font-size: 15px;
            line-height: 0 !important;
        }

        .createExercisePage__title {
            flex-direction: column !important;
        }

        .createExercisePage__title__name,
        .createExercisePage__description__name {
            font-size: 12px;
        }
    }
}

@media (max-width: 800px) {
    .createExercisePage__title__name,
    .createExercisePage__description__name {
        font-size: 14px !important;
    }
}

.createExercisePage__deleteButton {
    .button-normal{
        width: 315px;
    }
    
    margin-top: 10px;
}

.createExercisePage {
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1vw;
}

.createExercisePage__title__name,
.createExercisePage__description__name {
    font-size: 1.5vw;
    width: 15%;
}

.createExercisePage__title {
    display: flex;
    flex-direction: row;
}

.createExercisePage__title__name {
    font-size: 1.5vw;
    width: 15%;
}

.createExercisePage__title__input {
    width: 45%;
}

.createExercisePage__code__html__editor,
.createExercisePage__code__css__editor{
    border: 2px solid #777777 !important;
    border-radius: 3px;
    padding-right: 5px;
}

.createExercisePage__code__block {
    margin-top: 1vw;
}

.createExercisePage__code__buttonHTML,
.createExercisePage__code__buttonCSS {
   margin-top: 1vw; 
}
