@media (max-width: 480px) {
    .createCoursePage__title__input{
        .input_input{
            font-size: 12px;
            line-height: 0 !important;
        }
    }

    .createCoursePage__title__name{
        width: 100% !important;
        font-size: 12px !important;
    }

    .createCoursePage__title {
        display: flex;
        flex-direction: column !important;
    }

    .createCoursePage__description__name {
        font-size: 12px !important
    }

    .createCoursePage__buttonCreate {
        .button-normal {
            font-size: 14px;
            height: 30px;
            width: 100% !important;
        }
    }

}

@media (max-width: 902px){
    .createCoursePage__title__input{
        .input_input{
            font-size: 14px;
            line-height: 0 !important;
        }
    }

    .createCoursePage__title__name{
        width: 100% !important;
        font-size: 14px !important;
    }

    .createCoursePage__title {
        display: flex;
        flex-direction: column !important;
    }

    .createCoursePage__buttonCreate {
        .button-normal {
            font-size: 14px;
            height: 30px;
            width: 100% !important;
        }
    }
}

.createCoursePage {
    display: flex;
    flex-direction: column;
}

.createCoursePage__title__name,
.createCoursePage__description__name {
    font-size: 1.5vw;
    width: 15%;
}

.createCoursePage__buttonCreate {
    display: flex;
    flex-direction: column;
}

.createCoursePage__buttonCreate__delete {
    margin-top: 5px;
}

.createCoursePage__title__input {
    width: 45%;
}

.createCoursePage {
    margin-top: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}

.createCoursePage__title {
    display: flex;
    flex-direction: row;
}

.createCoursePage__level, .createCoursePage__language {
    margin-top: 2%;
    font-size: 10vw !important;
}


@media (min-width: 902px) {
    .createCoursePage__buttonCreate {
        .button-normal {
            width: 25vw !important
        }
    }
}

.coursesPage__popupWindow__button {
    margin-top: 1vw;
}

.createCoursePage__buttonCreate {
    margin-bottom: 1vw;
}