.css-ahj2mt-MuiTypography-root {
  font-size: 1.5vw !important;
}

.css-u4tvz2-MuiFormLabel-root, .css-u4tvz2-MuiFormLabel-root.Mui-focused {
  font-size: 1.7vw !important;
  font-weight: 400 !important;
  color: black !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #161616 !important;
}