.topicPage {
    padding: 1vw;

    .editorBlock__openEditor,
    .rdw-editor-toolbar {
        display: none;
    }
}

.topicPage__title {
    font-size: 2vw;
}

.topicPage__examples {
    margin-top: 1vw;
}