@media (max-width: 480px) {
    .topicPage {

        .topicPage__title,
        .topicPage__examples__title {
            font-size: 12px;
        }
    }
}

@media (max-width: 800px) {
    .topicPage {

        .topicPage__title,
        .topicPage__examples__title {
            font-size: 14px;
        }
    }
}

.topicPage__examples__title {
    font-size: 1vw;
}

.topicPage {
    padding: 1vw;

    .editorBlock__openEditor,
    .rdw-editor-toolbar {
        display: none;
    }
}

.topicPage__title {
    font-size: 2vw;
}

.topicPage__examples {
    margin-top: 1vw;
}