@media (max-width: 480px) {
    .exercisePage {
        .exercisePage__title,
        .exercisePage__description__name,
        .exercisePage__html__title,
        .exercisePage__css__title {
            font-size: 12px;
        }

        .button-normal {
            width: 100%;
            font-size: 12px !important;
        }
    }
}

@media (max-width: 800px) {
    .exercisePage__title,
    .exercisePage__description__name,
    .exercisePage__html__title,
    .exercisePage__css__title {
        font-size: 14px !important;
    }

    .button-normal {
        width: 100%;
        font-size: 14px !important;
    }
}

.exercisePage {
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1vw;
}

.exercisePage__title {
    font-size: 2vw;
}

.exercisePage__description__name {
    margin-top: 1vw;
    font-size: 1.5vw;
}

.exercisePage__html__code,
.exercisePage__css__code {
    border: 2px solid #777777 !important;
    border-radius: 3px;
    padding-right: 5px;
}

.exercisePage__checkButton {
    margin-top: 1vw;
}