@media (max-width: 480px) {
    .createExamplePage {
        .examplePage__title,
        .examplePage__description__name,
        .examplePage__html__title,
        .examplePage__css__title {
            font-size: 12px;
        }
    }
}

@media (max-width: 800px) {
    .examplePage__title,
    .createExamplePage__title__name,
    .examplePage__description__name,
    .examplePage__html__title
    .examplePage__css__title {
        font-size: 14px !important;
    }
}

.examplePage {
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1vw;

    .editorBlock__openEditor, .rdw-editor-toolbar{
        display: none;
    }
}

.examplePage__title {
    font-size: 2vw;
}

.examplePage__description__name {
    margin-top: 1vw;
    font-size: 1.5vw;
}
