@media (max-width: 480px) {
    .createExamplePage {
        .input_input {
            font-size: 15px;
            line-height: 0 !important;
        }

        .createExamplePage__title {
            flex-direction: column !important;
        }

        .createExamplePage__title__name,
        .createExamplePage__description__name {
            font-size: 12px;
        }
    }
}

@media (max-width: 800px) {
    .createExamplePage__title__name,
    .createExamplePage__description__name {
        font-size: 14px !important;
    }
}

.createExamplePage__deleteButton {
    .button-normal {
        width: 300px;
    }

    margin-top: 10px;
}

.createExamplePage {
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1vw;
}

.createExamplePage__title__name,
.createExamplePage__description__name {
    font-size: 1.5vw;
    width: 15%;
}

.createExamplePage__title {
    display: flex;
    flex-direction: row;
}

.createExamplePage__title__name {
    font-size: 1.5vw;
    width: 15%;
}

.createExamplePage__title__input {
    width: 45%;
}

.createExamplePage__code__html__editor,
.createExamplePage__code__css__editor {
    border: 2px solid #777777 !important;
    border-radius: 3px;
    padding-right: 5px;
}

.createExamplePage__code__block {
    margin-top: 1vw;
}

.createExamplePage__code__buttonHTML,
.createExamplePage__code__buttonCSS {
    margin-top: 1vw;
}